body {
  margin: 0;
  line-height: normal;
  scroll-behavior: smooth;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-pt-serif: "PT Serif";

  --primary-transition: 0.4s all ease-in-out;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-mid: 17px;
  --font-size-29xl: 48px;

  /* Colors */
  --white: #fff;
  --black: #0c0c03;
  --grey-2: #d2d2cd;
  --primary-color: #eaee12;
  --color-black: #000;
  --grey-1: #e9e9e6;
  --grey-4: #a5a59a;
  --color-darkgray-100: rgba(154, 154, 142, 0.3);
  --color-darkgray-200: rgba(154, 154, 142, 0.12);
  --grey-3: #bcbcb3;
  --color-goldenrod: #eeb012;

  /* Gaps */
  --gap-13xl: 32px;
  --gap-21xl: 40px;
  --gap-base: 16px;
  --gap-53xl: 72px;
  --gap-xs: 12px;
  --gap-5xl: 24px;
  --gap-7xs: 6px;
  --gap-8xs: 5px;
  --gap-mid: 17px;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-10xl: 32px;
  --padding-29xl: 48px;
  --padding-61xl: 80px;
  --padding-xs: 12px;
  --padding-base: 16px;
  --padding-37xl: 56px;
  --padding-21xl: 40px;

  /* border radiuses */
  --br-5xs: 8px;
}

@media screen and (max-width: 960px) {
  :root {
    /* font sizes */
    --font-size-base:15px;
    --font-size-xl: 19px;
    --font-size-21xl: 34px;
    --font-size-5xl: 21px;
    --font-size-mid: 15px;
    --font-size-29xl: 40px;

    /* Gaps */
    --gap-13xl: 27px;
    --gap-21xl: 34px;
    --gap-base: 14px;
    --gap-53xl: 62px;
    --gap-5xl: 21px;
    --gap-mid: 15px;

    /* Paddings */
    --padding-5xl: 21px;
    --padding-10xl: 27px;
    --padding-29xl: 40px;
    --padding-61xl: 69px;
    --padding-37xl: 48px;
    --padding-21xl: 34px;
  }  
}

@media screen and (max-width: 768px) {
  :root {
    /* font sizes */
    --font-size-base: 14px;
    --font-size-xl: 16px;
    --font-size-21xl: 33px;
    --font-size-5xl: 20px;
    --font-size-mid: 15px;
    --font-size-29xl: 38px;

    /* Gaps */
    --gap-13xl: 26px;
    --gap-21xl: 33px;
    --gap-base: 14px;
    --gap-53xl: 59px;
    --gap-5xl: 20px;
    --gap-mid: 15px;

    /* Paddings */
    --padding-5xl: 20px;
    --padding-10xl: 26px;
    --padding-29xl: 38px;
    --padding-61xl: 65px;
    --padding-37xl: 45px;
    --padding-21xl: 33px;
  }  
}
@media screen and (max-width:650px) {
  :root{
    --font-size-29xl: 32px;
    --font-size-21xl: 28px;

    --padding-61xl: 60px;
    --padding-37xl: 42px;

    --gap-53xl: 56px;
    --gap-21xl: 31px;
  }
}

@media screen and (max-width:465px) {
  :root{
    --font-size-29xl: 24px;
    --font-size-21xl: 20px;
    --font-size-5xl: 18px;
    --font-size-xl: 15px;

    --padding-61xl: 45px;
    /*--padding-37xl: 23px;
    --padding-21xl: 18px; */

    /* --gap-53xl: 32px;
    --gap-21xl: 20px;
    --gap-13xl: 18px;
  } */
}